<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>South Central PA Soccer Academy - {{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="{{ page.tags }}">
	<meta name="author" content="">

	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/gbys.css" rel="stylesheet">

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<body>
<div id="skip"><a href="#content">Skip to Main Content</a></div>

<div class="container-fluid">
	<div class="row-fluid">
		<div id="top-navbar" class="navbar">
			<div class="navbar-inner">

				<button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
				</button>

				<a href="/" class="brand"><img alt="GBYS" src="/img/logo-gbys.jpg" /></a>

				<div class="nav-collapse collapse">
					<ul id="nav" class="nav pull-right">
						<li><a href="/">Home</a></li>
						<li><a href="/club-info">Club Info</a></li>
						<li><a href="/teams">Teams</a></li>
						<li><a href="/trainers">Trainers</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

{% if site.message %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="hero-unit" id="message">
				{{ site.message }}
			</div>
		</div>
	</div>
</div>
{% endif %}
